[2018-11-22 01:10] RAbraham opened #4 "Thank you"
I cannot express enough my gratitude for this work. I feel like I may have saved a few months of learning FP just by reading your excellent explanation and code.
PureScript by Example and this resource are the bare minimum that I would recommend any newcomer to PureScript.
Thanks a ton!

[2018-11-22 18:45] thomashoneyman commented on #4
Thank you, Rajiv! I really appreciate hearing that. I've still got a ways to go until this is a legitimate demonstration of a Halogen application, but I'm delighted to hear it's already useful. Please let me know if you come across any issues as you keep going through it that I can resolve -- this is all still a rough draft :)

[2018-11-22 18:45] #4 closed, assigned to nobody

[2018-12-24 18:25] JordanMartinez opened #13 "Use more up-to-date learn/documentation links that are more beginner-friendly"
I think this project may convince some people on the fence about PureScript. However, your guide links to the outdated Book and also to a version of the Halogen guide that's not very beginner-friendly. As such, newcomers who are enthusiastic about this language will likely be demoralized soon thereafter due to having a poor first-experience with the `Getting Started` part of the language.

In the

[2018-12-27 21:00] thomashoneyman commented on #13
Hi Jordan! I'm traveling for the holidays and won't be able to get to this until I'm back in town on the 2nd, but I'm in favor of the idea. The guide is hosted on my site so I'll make those updates myself, but it makes sense to point beginners to some good introductory resources from the README here as well.

I'm not sure I want to push new users towards `psc-package`. I don't use it myself (thoug

[2018-12-29 01:28] JordanMartinez commented on #13
Sounds good! I hope you enjoy your travels!

That makes sense. On one hand, I think that people already familiar with Javascript may know how to deal with `Bower`, so getting around its annoying issues might be less troublesome for them and feel overall more familiar than something like `psc-package`. On the other hand, `Bower` still produces error messages that are not obvious in how to fix for a

[2018-12-29 18:36] JordanMartinez commented on #13
Just FYI. Here are a few other things I've been working on with this project in mind:
- [How long will it take me before I can write idiomatic code and be productive in PureScript?](https://github.com/JordanMartinez/purescript-jordans-reference/tree/development/00-Getting-Started#how-long-will-it-take-me-before-i-can-write-idiomatic-code-and-be-productive-in-purescript)
- [FP - The Big Picture](ht

[2019-01-03 04:33] thomashoneyman commented on #13
I have elected to link to your repository, the getting started section, and the Halogen section. Your getting started section already provides advice on `psc-package`, so I didn't include the dependency managers link. I've also included a warning about Halogen's v4 / v5 differences.

<img width="673" alt="screen shot 2019-01-02 at 8 32 17 pm" src="https://user-images.githubusercontent.com/10245104

[2019-01-03 04:33] #13 closed, assigned to nobody

[2019-01-04 04:24] JordanMartinez commented on #13
Nice!

[2019-01-04 05:02] thomashoneyman commented on #13
@JordanMartinez I spent a little time exploring Spago for this project and I'm still leaning against `psc-package` for a few reasons:

1. `psc-package` alone introduces the concept of 'package sets', requires a binary download, and almost inevitably will require a newcomer to learn how to create their own package set to include a library (like `slug`, `halogen-formless`, `routing-duplex`, `formatt

[2019-01-04 05:57] JordanMartinez commented on #13
Well, I appreciate your analysis as you raise some good points! There is definitely truth to this and I think `spago` and other tools related to `psc-package` are simply less mature right now mainly because of how little time they have been in development in comparison to Bower.

<hr>

Still, I'd like to respond to some of your comments:

I've written quite detailed instructions and examples in sp

[2019-01-04 17:11] thomashoneyman commented on #13
By Spacchetti I specifically mean https://github.com/spacchetti/spacchetti, as opposed to Spago (https://github.com/spacchetti/spago). Your notes about not running into these issues I believe are because you are referring to Spago, which now uses Spacchetti under the hood.

I'm not sure I'd suggest psc-package or spacchetti on their own, but Spago does make a pretty compelling alternative to Pulp

[2019-01-08 02:23] JordanMartinez commented on #13
Sorry for the late response.

Mm... ok.

On another note, I wonder whether my project installation instructions are still correct then. Looks like it's time to implement CI for my project to account for these issues.

[2019-02-13 14:32] naglalakk opened #20 "Question on Router component"
Hi and thank you for this fantastic project. I'm curious about this type declaration in Router.purs

[code]

Is this so you have the ability to change Unit into something else for each component? or is it necessary to do it like this?  I admit I don't really get the logic behind either7

[2019-02-13 19:33] thomashoneyman commented on #20
Hi @naglalakk! You've stumbled across one of the more irritating aspects of Halogen, but which has been made much better in the upcoming Halogen v5 release. I've written out an explanation below but be aware that this won't be relevant in the next release :)

For the time being, to manage child components, Halogen must know about a few things:

## 1. Child query types
Queries are the sorts of thin

[2019-02-13 20:10] naglalakk commented on #20
Wow, crystal clear. I get it now. I have only been using a single child component until now. Thank you so much for this detailed and fine explanation. I guess this can be closed now but I find this very valuable information.

[2019-02-13 21:09] thomashoneyman commented on #20
Great! Glad I could help. I'll close the issue, but I'll also add a link to this issue in the relevant file. Thanks for asking a question that I'm sure other folks have as well :)

[2019-02-13 21:09] #20 closed, assigned to thomashoneyman

[2019-02-15 15:49] jacekschae opened #21 "Real World Demo"
Hi there,

I'm putting togeterh a refresh of [Real World Comparision of Front-End Frameworks](https://medium.freecodecamp.org/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-2018-update-e5760fb4a962) and was wondering if you could put a link to a demo application (on Netlify or something) into the repo? This is needed for the first metric--Performance.

if this is not imporatnt to

[2019-02-15 18:10] JordanMartinez commented on #21
I'm not Thomas, but I'd be interested in seeing the results.

[2019-02-19 18:25] thomashoneyman commented on #21
Hi @jacekschae! I’m glad to see a refresh to the article for 2019. At the moment I am quite busy; putting a bundle together to serve via Netlify for a demo is a little lower priority than a few other tasks I need to take care of in my free time. I do plan to do so soon, but if I don’t make the cutoff for your article, perhaps a simple note stating that this repository didn’t have a live demo at th

[2019-02-19 18:25] #21 closed, assigned to nobody

[2019-04-16 13:49] dogwith1eye opened #24 "Simple routing questions?"
Hi, i have a couple of simple routing questions.

I see that we handle the initial route and wrap it back up in a Maybe. The Router component then falls back to Home in the case of a Nothing. What's not clear to me though is how our initial route in the browser changes from  http://172.28.225.97:8080 to  http://172.28.225.97:8080/#/. I see our safeHref util will append the hash when navigating to

[2019-04-16 15:49] thomashoneyman commented on #24
Hi! Thanks for checking out the project; I'd love to answer these for you and can get you some information later today when I have a little time free.

[2019-04-16 23:48] thomashoneyman commented on #24
@dogwith1eye -- Now that I've had a moment to review your questions I realize they point at a few parts of this project that could be improved. More on that in a bit!

Let's start with your first question.

When the application starts, we grab the hash and attempt to parse it into a `Route`. It may not be a valid route, so we represent that possible failure with a `Maybe Route` return type. The ap

[2019-04-17 13:51] dogwith1eye commented on #24
Thank you very much for your detailed response @thomashoneyman. I hadn't really paid any attention to the guardSession logic and how it was logging us out of the app to land on the home page.

I was going through the guide for purescript-routing and saw that a NotFound constructor was an alternative way to handle routes that don't match. Thanks for confirming this is a a solution.

And thanks for

[2019-04-17 16:58] thomashoneyman commented on #24
Glad you found this useful! I'm going to close this issue for now, but if I have some free time I'll consider looping back around to adjust the application to use a `NotFound` route. Let me know if I can answer any other questions you have :)

[2019-04-17 16:58] #24 closed, assigned to thomashoneyman

[2019-04-18 21:45] thomashoneyman opened #25 "Update for Halogen 5"
Halogen is on its [fourth release candidate](https://github.com/slamdata/purescript-halogen/releases/tag/v5.0.0-rc.4) for v5, which appears imminent once docs are updated. [Formless](https://github.com/thomashoneyman/purescript-halogen-formless), the only Halogen dependency of this project, is updated for Halogen 5. As far as I'm aware the only other missing dependency is `RemoteData`, which has c

[2019-04-29 08:28] f-f commented on #13
I just stumbled on this and it was a great read, thanks @JordanMartinez and @thomashoneyman for the good discussion 🙂

You raise great points and I'll checkout what's up with `spago bundle` (I believe https://github.com/spacchetti/spago/pull/175 will solve it), but please feel free to tag me whenever you think you have an issue with Spago (either a bug or a usability issue), as I might be totally

[2019-05-15 23:56] JordanMartinez commented on #25
You might want to update your guide to point to my `learn-halogen` repo now. Here's the announcement: https://discourse.purescript.org/t/learn-halogen-v1-0-0-release/764

[2019-05-16 17:07] thomashoneyman commented on #25
Thanks @JordanMartinez, I'll keep that in mind when I update the content for release.

[2019-06-04 21:15] evanrelf opened #30 "Typos"
- `cayabilities -> capabilities`
  https://github.com/thomashoneyman/purescript-halogen-realworld/blob/d213795014a69af99dcb90cdbc8628d3f760c171/src/AppM.purs#L64

- `manageCommentAppm -> manageCommentAppM`
  https://github.com/thomashoneyman/purescript-halogen-realworld/blob/6836de104c29dfd3fc8625061fad8d83f4dc55dd/src/AppM.purs#L250

- Add space after period (`details.When`)
  https://github.com/

[2019-06-12 15:36] #30 closed, assigned to nobody

[2019-06-12 15:37] thomashoneyman commented on #30
Thanks @evanrelf for finding these! I'm sorry I took so long to get back to you -- things are a bit hectic right now -- and this is now fixed.

[2019-06-12 16:21] evanrelf commented on #30
No worries. Thanks for making this project; it's been really helpful to reference as I learn PureScript!

[2019-06-25 20:38] zhujinxuan opened #32 "Use `FormError t` instead of FormError"
Thank you very much for this awesome project!

Perhaps my suggestion is a bit over-engineering, but I feel like that it is better to define `FormError` with

[code]
, where `data Proxy t = Proxy` from purescript-proxy package.   Then FormError is typed with the kind of input.

Thank you again for this awesome project.  I learn a lot about purs from it.

Cheers,

[2019-07-30 20:52] Unisay opened #35 "Consider using "Extended" pattern to get rid of "Util" packages"
I've noticed some modules with `Utils` suffix:
* `Conduit.Api.Utils`
* `Conduit.Component.HTML.Utils`

`Utils` is quite a broad category of things, so such modules have potential to absorb lots of unrelated functions and become a mess (esp. in large projects/teams)

One way of dealing with this problem is described by Jasper here:
https://jaspervdj.be/posts/2015-01-20-haskell-design-patterns-exten

[2019-07-30 23:06] #25 closed, assigned to thomashoneyman

[2019-07-30 23:32] FranklinChen opened #36 "Add Travis CI build?"
It might be a good idea to add a Travis CI build. I just did `npm install` and it failed at
[code]

so something's wrong.

[2019-07-30 23:38] thomashoneyman commented on #36
I agree, this should have a continuous integration build. I'm most familiar with Circle CI, but I'm also open to Travis. I can do this at some point soon, but if anyone else would like to submit this as PR I welcome that, too!

With regards to your failure installing PureScript, I should have updated the dependency to be `purescript: 0.13.2` and overlooked it. You're right that this could be caugh

[2019-08-02 17:36] thomashoneyman commented on #36
@FranklinChen I've added continuous integration via Circle CI and a badge to the README displaying the build status. Thanks for the suggestion!

[2019-08-02 17:36] #36 closed, assigned to thomashoneyman

[2019-08-04 12:24] srghma opened #37 "Conduit.Component.RawHTML will fail with "require is not defined" (var marked =require("marked");)"
in `dist/app.js` I have

[code]

I didnt check, but `var marked =require("marked");` should fail

to resolve we could use `rollup-plugin-purs` and `rollup-plugin-node-resolve` (source https://github.com/purescript/purescript/issues/2621#issuecomment-277430685)

P.S. would be also cool to add https://www.npmjs.com/package/rollup-plugin-prepack

[2019-08-04 17:30] thomashoneyman commented on #37
@srghma PureScript generates CommonJS modules, which use the `require` keyword. For that reason, the code snippet you shared should be fine.

For more information about PureScript and CommonJS, see these issues on the PureScript compiler:

* [ES modules #3613](https://github.com/purescript/purescript/issues/3613)
* [Use ES6 modules instead of CommonJS #1206](https://github.com/purescript/purescrip

[2019-08-04 17:30] #37 closed

[2019-08-08 16:07] mjepronk opened #38 "Installation instructions in Readme outdated"
I think the installation instructions in the Readme are outdated, the commands `yarn build-serve` or `yarn watch-dev` do not work. Should we use `spago` instead of `yarn` now?

[2019-08-08 16:44] thomashoneyman commented on #38
@mjepronk Thanks for bringing this to my attention -- you're right, those commands are outdated. They should be something like `yarn install`, then `yarn build`, then `yarn serve`. I'll update them as soon as I can!

Yarn is used to download JavaScript dependencies (like the Marked library), and to run scripts from `package.json`. Some of those include:

- `build` -> runs `spago build` to build th

[2019-08-08 20:41] mjepronk commented on #38
Aah, great thanks! You want me to do a PR for the Readme? :-)

[2019-08-08 21:38] thomashoneyman commented on #38
Sure, if you don’t mind!

[2019-08-09 13:53] mjepronk commented on #38
Not at all, thank you for your excellent PureScript articles!

[2019-08-09 17:38] thomashoneyman commented on #38
Closed by #39

[2019-08-09 17:38] #38 closed, assigned to thomashoneyman

[2019-08-10 00:35] thomashoneyman commented on #35
I hadn’t come across the `Extended` module approach before; thank you for sharing! I spent some time thinking about this an discussed it with colleagues at Awake Security. Ultimately while I think it’s a potentially valuable way to organize a project, I would prefer to remain with `Utils` modules for now. Here are my reasons:

**PureScript IDE support**
Auto imports are a big reason why `Extended`

[2019-08-10 00:35] #35 closed, assigned to thomashoneyman

[2019-08-10 01:20] thomashoneyman commented on #32
Thanks for your suggestion @zhujinxuan — I’m sorry I took so long to get back to you!

I’m happy to discuss this change, but I’m not sure I fully understand its benefits. Answers to a few questions would help me understand them, and I’d also like to share some alternatives. For the time being, I'm not planning to change the error type -- but I'm open to changing my mind!

The first thing that come

[2019-08-12 17:10] zhujinxuan commented on #32
Sorry I did not elaborate it clearly.

`t` here shall be the type of Email for example.

I think the code is a bit like something like this:

[code]

`t` is the type of result rather than the type of input.  The idea is that we shall not have `InvalidAddress` in a email form.

[2019-08-12 17:23] zhujinxuan commented on #32
Sorry, I made a mistake here.  I should say `field` instead of `input` (I thought Email as Input and Form as output)

I think the `over-engineering` solution is a very nice one, the solution is:
1. A standard usage of type
2. A example usage of row type to combine (which is a much nicer alternative than a la carte in this simple problem)

This code as example benefits two kinds purs beginners:

1.

[2019-08-12 19:23] thomashoneyman commented on #32
I'd consider a PR for this, though I can't promise that I'll definitely merge it -- I'd need to think a bit on whether it places this project even further into advanced territory.

To cut down on verbosity, I'd recommend doing a few things.

First, in the `Validation` module, I'd recommend writing type synonyms for possible errors arising from validation:

[code]

You may also want to write helper

[2019-08-14 14:26] zhujinxuan commented on #32
Great!  I will work on this next weekend.

<del>Shall I try to base the PR on master? or on halogen5?</del>
Sorry, I did not notice the halogen5 is merged already.

[2019-08-18 12:58] SebastianCallh commented on #13
Hi,

I tried to run `psc-ide` through Emacs after cloning this project but I get `Searching for program: No such file or directory, spago` when trying to start the server. Does

refer to the same issue? If so,  would be super happy if someone could explain how this was resolved!

[2019-08-18 16:48] thomashoneyman commented on #13
I don’t use Emacs, but Spago should work there with psc-ide; perhaps these issues will help?

This PR added Spago support to purescript-emacs:
https://github.com/purescript-emacs/psc-ide-emacs/pull/164

This issue tracked missing support for emacs on the Spago project:
https://github.com/spacchetti/spago/issues/64

Both are resolved, so I presume it works and that there’s some setting I’m not awar

[2019-08-19 06:19] SebastianCallh commented on #13
Thank you for the links! I'll have a look

[2019-08-19 23:06] damienstanton opened #40 "yarn/npm install fails due to missing halogen-5 tag on halogen-formless"
Error message:
[code]

[2019-08-20 00:04] thomashoneyman commented on #40
@damienstanton Oops -- the danger of referencing an unstable branch. I've published a new Formless release and removed that branch; #41 fixes this by referencing a published version.

[2019-08-20 00:14] #40 closed, assigned to thomashoneyman

[2019-08-20 03:30] joshcough opened #42 "Question about conduit.productionready.io"
Hi, sorry for asking a question here, but wasn't sure the best place to do it. I'm looking to find the backend code for `conduit.productionready.io`, because I can't really put this whole thing together as an example application without it. Like, I would really like to try this out on my own, get up my own server and use this as a launchpad, but yeah, just isn't possible without the backend code.

[2019-08-20 03:35] thomashoneyman commented on #42
Hi @joshcough! Feel free to ask questions here 👍

This repository is one of many frontend implementations of the [Real World project](https://github.com/gothinkster/realworld). There are [several backend implementations, too](https://github.com/gothinkster/realworld#backends). The idea is that you can compare different frontend and backend languages / libraries.

If you'd like to try this on your

[2019-08-20 03:35] #42 closed, assigned to thomashoneyman

[2019-08-20 14:53] joshcough commented on #42
@thomashoneyman thank you!

[2019-08-28 06:00] skress opened #43 "yarn install fails due to invalid link in halogen-formless"
Hi,

thanks a lot for this example project it is really helpful. I have just tried installing a fresh copy and it fails during `yarn install`:

[code]

Running `spago install -v` shows a bit more context:
[code]

So the problem is that `halogen-formless` contains a link to `bower_components` which does not exist in the source repository. I am not sure if `spago` should ignore this type of error or

[2019-08-28 07:56] tarsbase commented on #43
I have the same problem. Does anyone know how to fix it?

[2019-08-28 08:15] skress commented on #43
As a quick fix you can manually install halogen-formless.

Inside `purescript-halogen-realworld` directory (after having run `yarn install`):
[code]

[2019-08-28 18:31] thomashoneyman commented on #43
This is odd; Formless relies on Storybook as a dev dependency, but I don't know why installing the library would make any attempt to bring in Storybook or refer to its CSS file. I will try to investigate this tonight and put up a fix as soon as possible. Thanks @skress for bringing this to my attention and providing a manual fix for the time being!

[2019-08-29 16:56] thomashoneyman commented on #43
Thanks @skress and @gho0sts for helping out with this issue. I've fixed the problem in https://github.com/thomashoneyman/purescript-halogen-formless/pull/55.

You should now be able to install everything normally with `spago install`. Let me know if there are any further issues, though!

[2019-08-29 16:56] #43 closed, assigned to thomashoneyman

[2019-10-01 13:29] joshcough opened #46 "Styling question"
One more question for you guys.

I started to really go through this last night because it's the most complete example and I'm wanting to use it, but the one thing I think is missing is talking anything about styling. I see you are using `demo.productionready.io/main.css`, and that's more or less opaque. Do you have any insights/links/tutorials/libraries explaining how to do this better? How to ma

[2019-10-01 18:34] thomashoneyman commented on #46
Good question, @joshcough.

I'll answer below, but you may also want to participate in this Discourse thread: [CSS strategies for PureScript apps](https://discourse.purescript.org/t/css-strategies-for-purescript-apps).

On to Halogen-specific CSS strategies!

## External Stylesheets
Most folks using Halogen are simply using external stylesheets. It's what SlamData does, and we do the same thing at

[2019-10-15 20:59] thomashoneyman commented on #46
Closing for inactivity, but feel free to continue commenting later.

[2019-10-15 20:59] #46 closed, assigned to thomashoneyman

[2019-10-27 23:59] Benjmhart commented on #46
here's a quick look at my approach:

In terms of a css-in-purescript solution for Halogen, I’ve found the following is a pretty nice system for getting your styles set up:

mount a secondary tree in the head which contains your styles - it only needs a single component, which creates a Style tag.
for each component module, have a style module which exports the following:
the HTML classnames used b

[2019-12-31 22:14] baig opened #47 "Thank you again!"
This is extremely useful and I cannot express my gratitude enough for your efforts. I'm sure so many others feel the same.

Thank you for sharing this with the world.

This issue was not created to complain or report anything, so you can close this any time.

[2020-01-02 00:04] thomashoneyman commented on #47
Thanks @baig! It’s wonderful to read this. Please don’t hesitate to reach out if there are any other ways I can help out 😊

https://thomashoneyman.com/open-invitation

[2020-01-02 00:04] #47 closed, assigned to thomashoneyman

[2020-01-14 11:56] Cmdv opened #48 "Help: Logout button in Header"
I'm trying to add a logout button to `Conduit.Component.HTML.Header` but when looking at the current implementation in `Conduit.Page.Settings`:

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/4581af1e04044a129d1c7fea15e99d75ecfbe3e2/src/Page/Settings.purs#L106

it's using it's own `handleAction` which I can't really do as I don't have access to `H.Component`:

https://github.c

[2020-01-14 18:53] thomashoneyman commented on #48
If I'm understanding you correctly, you'd like to add a logout button to the header that's visible everywhere the header is rendered (if the user is logged in). In that case there are a few options:

### 1. Make the header function a component

The first option is to make the header function into its own component which connects to global state, decides what to render based on that, and implements

[2020-01-14 21:24] Cmdv commented on #48
@thomashoneyman thanks so much for the very informative reply.

I think I'm really close the only issue I'm having is how to use my component in situ, so I have:

[code]

But I just can't work out how to use `HH.slot` inside one of my pages 🤔

[2020-01-14 22:11] thomashoneyman commented on #48
You would need to give the parent component (`Home`, for example) a slot type, like is done here in the router:

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/76ec47b8c0c2436e342e72ef6aa6f051bc90a05b/src/Component/Router.purs#L55-L57

For example, it might be:

[code]

Then, in your rendering code, you'd use the component, also demonstrated in the router:

https://github.com/

[2020-01-15 17:38] Cmdv commented on #48
Thanks again @thomashoneyman turns out I had slight issues with passing things into the child slot because it would actually re render before a `currentUser` would get passed so the initialiser would be set to Nothing and it would not receive the update so had to add:

[code]

feel free to close 👍

[2020-01-15 17:41] #48 closed, assigned to thomashoneyman

[2020-01-23 17:50] kurtmilam opened #49 "Would you be interested in a PR to update various dependencies?"
The application builds and runs locally after I:

1. Update the `dependencies` and `devDependencies` in `package.json`
2. Update the `spago` package set
3. Update the `halogen` override to `v5.0.0-rc.7`
4. Make a few changes to adapt to the new `request` API introduced with AffJax 10.0

I checked the additions defined in `packages.dhall`, and each seems to be on the latest version, so I think the

[2020-01-23 18:11] thomashoneyman commented on #49
@kurtmilam Thanks for the kind words, and I would absolutely appreciate the update!

With regards to the `packages.dhall` it would also be useful to verify that the additions are still necessary. Some of those additions may now be in the official package set and can be removed.

[2020-01-23 18:12] kurtmilam commented on #49
I will check to see whether any of the additions have been added to the latest package set 👍 !

[2020-01-23 18:33] kurtmilam commented on #49
Good call on verifying the additions. Assuming I did everything correctly, it seems that `subcategory` is the only one not in the latest package set.

[2020-01-23 20:12] #49 closed, assigned to thomashoneyman

[2020-02-04 12:34] VerySmallRoach opened #52 "Change in url does not refresh the page"
Hello. I've build the project and run a local sever with yarn serve.
I've made two articles:
http://localhost:8081/?#/article/aaa-6umu5b
http://localhost:8081/?#/article/bbb-wvj44m
When I open two pages in two separate tabs, everything works.
However, if I open first page and then manually edit url to the second one, the page content remains unchanged. It only happens when I move from one article

[2020-02-05 07:48] VerySmallRoach commented on #52
I tried to look into it, and it seems like ViewArticle should handle a Receive event.
Something like this:
[code]

Is there a more idiomatic way to tell Halogen to recreate component on input change?
And I wonder whenever it is necessary to do an equality check. I'd expect Halogen to send Receive only when parameter had changed, but I can't find any confirmation in docs.

[2020-02-05 19:12] thomashoneyman commented on #52
Hi @VerySmallRoach! You're right, if changing the URL on the page doesn't change its contents then that's a bug. And given that the URL is provided as component input then you're right that the receiver is the way to handle new input -- that's quite an oversight on my part to not have that done automatically.

Halogen will only send new input when the input has changed, that's correct.

* If you a

[2020-02-05 19:14] thomashoneyman commented on #52
Two solutions come to mind:

1. Your solution should work -- when the slug changes, update the ViewArticle component
2. We can update global state + the subscription so that the slug is held globally, and any component which subscribes to changes in the slug automatically receives / re-renders when it changes.

If you're interested in trying either solution, I'd welcome a pull request. Otherwise I

[2020-02-06 15:42] VerySmallRoach commented on #52
Thank you for an explanation.

From the theoretical standpoint I agree that it would be nice if such reloading was automatic. I tried to experiment and wrote a component wrapper parametrized over two input types (first type made of everything that should trigger a reload, and second type contains the rest), and it even typechecks and works, but I have no idea how it would scale past two-pages-so-f

[2020-02-13 17:23] Cmdv commented on #52
I literally came across this, my scenario is very similar:

(for me) I'm on `/pop/popA` and on that page I have a link to `/pop/popB` when clicked the URL changes but the component doesn't update.

I've been looking around router but and also in my component but I can't seem to get any values being emitted when I click the link.

[code]

[code]

so on in `PoPHome.purs` I have an `Input` type with

[2020-02-15 03:20] #52 closed, assigned to thomashoneyman

[2020-02-15 14:03] mjepronk opened #54 "Show tags in editor when editing an article"
Hi,

I'm using this project as a basis to create my own PS Halogen based app. Now I wonder how to handle the case when editing a form that represents an existing object (with initial data). My form contains various components that should have their state initialized from the form data (handled by formless).
Sadly, your code does not initialize the TagInput component when editing an existing articl

[2020-02-17 05:26] thomashoneyman commented on #54
Hi @mjepronk, thanks for bringing this up! It's a mistake not to be initializing the tags from the form data, and so it requires a fix.

As you noticed there are two ways you might handle this and both rely on the fact that the form state is available in the parent component of the tag input.

1. You can provide tags to the `TagInput` component via input. One way is to have the `Set Tag` provided

[2020-02-17 15:46] #54 closed, assigned to thomashoneyman

[2020-03-20 18:38] srghma commented on #46
hi @Benjmhart

could you send an example of this approach

[2020-03-20 18:46] srghma commented on #46
Also a question: how to eliminate dead code / check if classes were used in code

[2020-03-22 19:09] srghma commented on #46
I found that css-modules work with purs-loader

https://imgur.com/a/QF11icB

https://github.com/srghma/purescript-halogen-material-components-web/blob/70a0d0b88b95fe3e8bc43a101e399c81c3a48ce0/docs-src/Pages/Buttons/CSS.module.css#L1

https://github.com/srghma/purescript-halogen-material-components-web/blob/70a0d0b88b95fe3e8bc43a101e399c81c3a48ce0/webpack.config.js#L55-L73

[2020-04-06 13:24] JordanMartinez opened #57 "Migrate project to use Halogen Hooks"
This would be a larger undertaking and we would still need to get Formless and Select migrated over first.

However, this would likely be the best way to benchmark how much these hooks affect the following factors:
- readability
- scalability
- performance

[2020-04-13 19:44] Disco-Dave opened #58 "How to produce a production optimized bundle?"
Running the current bundle script produces a bundle of around 600kb. I was wondering what additional steps could be taken to produce a smaller bundle?

I tried ensuring NODE_ENV was set to production before running parcel build and got the same output. I also tried using zephyr but failed to get a parcel build to succeed when referencing the zephyr's output.

[2020-04-21 20:59] Kurren123 opened #59 "Why Halogen?"
In the “why Halogen?” Section in the introduction, you briefly state some other frameworks but you don’t specifically address the question of why Halogen. What has halogen got to offer that these other frameworks do not? I’m coming from Elm so I’m wondering whether I should put in the effort to learn halogen or stick with Spork, Hedwig, or another TEA done in purescript.

Thank you for a great boo

[2020-04-21 21:53] thomashoneyman commented on #59
Halogen differs from Elm in that it supports components with local state and can also use a global state across components. (I'm aware you can also implement the Elm architecture in Halogen, but I haven't tried this myself.)

At CitizenNet I worked on a Halogen app, and at Awake Security I work on a PureScript React app. In both cases, components helped ensure that state is kept where you actually

[2020-04-22 06:29] Kurren123 commented on #59
Thank you for a very detailed answer, it helped a lot. In Elm we try and keep things as flat as possible and try to grow the view (render) and state independently. Having said that, Halogen may open my eyes so I would like to give it a shot.

[2020-04-22 15:54] thomashoneyman commented on #59
Great! Feel free to continue asking questions here.

[2020-04-22 15:54] #59 closed, assigned to thomashoneyman

[2020-04-27 03:05] #58 closed, assigned to thomashoneyman

[2020-05-16 01:16] jamnut opened #61 "Installation warnings"
Do I need to be concerned about any of the following?  I've done many years of systems level C development and have learned Haskell to maybe the novice level, but web development is new to me.

I'm assuming that the "No lockfile found" is not a problem, but what about all the warnings?

$ yarn install
yarn install v1.22.4
info No lockfile found.
[1/4] Resolving packages...
warning parcel-bundler >

[2020-05-16 01:31] jamnut opened #62 "Another installation warning - yarn bundle"
Sorry for the noob questions, but at this point I don't know what can be safely ignored and what will cause problems down the road.

Is there something wrong with my tool setup or is this save to ignore?

I'm running the following:
yarn 1.22.4
npm 6.14.5
WSL Ubunto 18.04.4

$ yarn bundle
yarn run v1.22.4
$ npm run bundle:build && npm run bundle:dce && npm run bundle:parcel
npm WARN lifecycle The n

[2020-05-20 03:16] thomashoneyman commented on #61
@jamnut I'm no NPM expert, but these look like fairly ordinary warnings in an ecosystem that moves as fast as JavaScript on the web. Tools like NPM and Yarn warn if there are known security issues in dependencies and I'm not seeing any of those warnings here. These warnings don't appear worrying.

Still -- I may as well not risk anything and stick to the latest versions I can! I'll go ahead and up

[2020-05-20 03:21] thomashoneyman commented on #62
This doesn't look like an error related to installation but rather a warning that the binary being used to run the script is installed by Yarn, but the NPM tool itself defaults to a different binary. I'm not familiar with this warning myself but it looks benign.

Since this is an issue about NPM / Yarn and not this app specifically, I'm going to close it, but we can continue talking through this i

[2020-05-20 03:21] #62 closed, assigned to thomashoneyman

[2020-05-20 03:24] #61 closed, assigned to thomashoneyman

[2020-05-20 14:49] jamnut commented on #62
Thanks!

I've been using npm/spago/yarn some what blindly from the docs and discourse.  Sounds like (as usual) that is a little dangerous and I should really take the time to understand what the tools are really doing for me.

[2020-06-08 13:48] srghma opened #65 "zephyr doesn't build with purescript 0.13.8 because extern files now have extension cbor"
[code]

[code]

[code]

[code]

[2020-06-08 13:50] srghma commented on #65
zephyr version 0.2.2

https://github.com/srghma/easy-purescript-nix-automatic/blob/master/zephyr/revision.json

[2020-06-08 14:42] thomashoneyman commented on #65
See https://github.com/coot/zephyr/issues/33 and https://github.com/coot/zephyr/issues/36 as well as the pull request which updated Zephyr to be compatible with the new .cbor extension: https://github.com/coot/zephyr/pull/34

In order to update Real World to be compatible with PureScript 0.13.8 we'll need to wait for Zephyr to do a new release, which should not be far away now that it has the nece

[2020-06-19 13:19] srghma opened #67 "use Argonaut.Decoder.Decoders to drop Data.Argonaut.Decode.Struct.Tolerant"
Doesn't with new release we are able to write custom decoders?

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/78e65c1928903534d1b5a3f69110f9c6212ec0d3/src/Data/Profile.purs#L98-L100

[2020-06-19 18:04] thomashoneyman commented on #67
You could always write custom decoders (as described in the argonaut-codecs readme), but Tolerant Argonaut lets you customize that decoding and perform transformations on the result generically. It’s an in-between of the automatic decoding of the type classes and the manual decoding of hand-written decoders.

[2020-06-19 18:06] srghma commented on #67
ok, then

[2020-06-19 18:06] #67 closed

[2020-08-05 04:58] thomashoneyman commented on #65
As you can see [in this successful CI run](https://github.com/thomashoneyman/purescript-halogen-realworld/runs/947587874) -- specifically the `bundle` step -- PureScript 0.13.8 and Zephyr 0.3.2 do play nicely together now.

[2020-08-05 04:58] #65 closed

[2020-08-05 19:54] thomashoneyman commented on #32
I'm going to close this issue for inactivity, but feel free to continue discussing here. Thanks!

[2020-08-05 19:54] #32 closed, assigned to nobody

[2020-08-13 16:01] wryk commented on #21
Do you want help with that one ? I understand this might be not the kind of task you want to delegate.
Maybe an unofficial demo can do the job until you got time to setup an official one ?

Because the lacks of demo this implementation was skipped since 2019 and I would like to see purescript + halogen in the 2021 realworld frontends comparison.

[2020-08-13 16:39] thomashoneyman commented on #21
With GitHub Actions it’s now very easy to publish to GitHub pages (Formless does this). And with setup-PureScript it’s easy to get zephyr in CI for the bundle. So I think this is an achievable task if you would like to help, @wryk, by adding a new GitHub pages workflow for publishing!

@milesfrain had some interesting results wrt bundling with Zephyr and Parcel and so I’d appreciate his input when

[2020-08-14 00:12] wryk commented on #21
Alright I'll do that. I'll look at your suggestions and try them on my fork. I'll submit a PR when I think that's good enough to reviewed.

I saw @milesfrain results on Zephyr repo and discourse, I'll take them into account.

[2020-08-14 00:40] thomashoneyman commented on #21
You would use something like this workflow:

https://github.com/thomashoneyman/purescript-halogen-formless/actions/runs/203471748/workflow

But you'd switch the command to produce the bundle to what's used for this project:

https://github.com/thomashoneyman/purescript-halogen-realworld/actions/runs/203470953/workflow#L56

And you'd deploy the resulting bundle in `dist` to `gh-pages`. Let me know

[2020-08-31 18:31] wryk opened #70 "Form `submit` event is not prevented"
The browser navigate the current page (from https://wryk.github.io/purescript-halogen-realworld/#/login to https://wryk.github.io/purescript-halogen-realworld/?#/login) when logging in, bypassing login app behavior and re-displaying the same login form. I can consistently reproduce this bug on both submit button click and enter keypress with Firefox 79 and Chromium 84 on the url without the empty

[2020-08-31 18:34] thomashoneyman commented on #70
Whoops! Good catch. Yes, I think we should add a `preventDefault` for submission.

[2020-09-01 17:30] wryk commented on #70
I started to tackle this issue but I don't know how to correctly avoid boilerplate code inside components actions. I may ask some help later for that.

[2020-09-11 20:48] thomashoneyman commented on #70
Feel free to tackle this issue now, but as a heads up the forms will be switching to a new, Hooks-based version of Formless in the next month or two. Please go ahead if you'd like to, but the issue should be fixed then anyway :)

[2020-09-14 14:58] wryk commented on #70
I have almost finished it but I don't see the point of integrating it if it is replaced right after. Thank you for letting me know.

I can't wait to see and learn the implementation with hooks :D

[2020-11-11 10:31] toastal commented on #70
Shouldn't the Formless stuff validate on `<form onsubmit=...>` rather than overriding the `<button type=submit onclick=...>`?

[2020-11-11 16:27] thomashoneyman commented on #70
Yes, that would be the better approach when using a `<form>` element. Formless doesn't care which event triggers a submission, so either will work.

[2020-11-12 03:16] toastal commented on #70
I say this because I'm trying to do something similar and am lost in a type error with all the row stuff :(

[2020-11-13 01:48] thomashoneyman commented on #70
I agree Formless is quite confusing. Fortunately for us all, the Hooks version of Formless is not far away and is considerably easier to use!

[2020-11-15 03:14] #70 closed, assigned to nobody

[2021-01-30 23:39] jim108dev opened #78 "update user and post comment request body differ from spec"
Hi! I have tried to add a comment. The frontend sends
[code]
According to https://github.com/gothinkster/realworld/tree/master/api it should be
[code]
The same applies to update article.

[2021-01-31 07:07] jim108dev commented on #78
Also, please correct me if I am wrong. The backend gives specific error messages
[code]
I don't see any of these errors popping up. Does the frontend actually parse them?

[2021-04-04 17:09] simonolander opened #80 "Upgrade to Halogen 6"
Hi!

It would be much appreciated if this project was bumped to Halogen 6. It seems like all the necessary dependencies are at 0.14.0 since a little while back. I gave it a shot, but I know too little about the library to translate the bus event source things.

[2021-04-21 22:54] thomashoneyman commented on #80
I have a quick update: I'm going to release a small state management library for Halogen to replace the bus / event source implementation used in Real World Halogen. Once it's out I can start on the proper migration of this repository to Halogen 6. Hold tight -- it won't be too long!

[2021-04-29 04:53] and-pete commented on #80
I recently bumped a project of my own to Halogen V6 and as it was based around this RWH project I figured I'd do that too in tandem.

Other than the `busEventSource` replacement, here is what seems to be needed to make the compiler happy:
* Bumping the package set in `packages.dhall` to be compatible with the `0.14.1` compiler
  * Spago (`0.20.1`) suggested adding many more dependencies to the `sp

[2021-04-29 17:28] thomashoneyman commented on #80
Thanks, @and-pete! I'll ping here when I've made an update for the `busEventSource` replacement, and then I'd be happy to use your work as the basis for a v6 update. I will also want to update some documentation and make a few other improvements and bugfixes to the project -- but that can come later! It will be fantastic to be on Halogen 6 regardless.

[2021-05-04 03:06] and-pete opened #81 "Unexpected behaviour for logged-in user"
Hi Thomas,

I've identified what I think are two bugs, that have a chance of being related and so I'll keep them in the same issue.

[See this Recordit GIF here](https://recordit.co/PDO3s7lYOF) for both behaviours demonstrated. For reference, this was recorded with me running the [current commit](https://github.com/thomashoneyman/purescript-halogen-realworld/tree/25bce9172f2310ed5e60ad723be36d980f

[2021-05-04 22:18] thomashoneyman commented on #81
Thank you for the detailed write-up! As soon as I have a little more time I’d like to explore what you’ve found, although my schedule is quite crunched for the next week or two (I’m moving!). Please don’t take silence on my part as ignoring the issue — I’d love to come back to this and I appreciate your time putting this together.

[2021-05-05 16:36] and-pete commented on #81
No problem at all!

If I find anything else in the meantime while it's got me nerdsniped, I'll leave it here. Like... one other thing I've noticed by adding logging statements is that [the `Receive` action in the HOC](https://github.com/thomashoneyman/purescript-halogen-realworld/blob/25bce9172f2310ed5e60ad723be36d980f3e5938/src/Component/HigherOrder/Connect.purs#L75-L77) doesn't seem to ever be t

[2021-05-05 19:04] thomashoneyman commented on #81
@and-pete Given how many of these issues seem tied to the bus implementation, perhaps we should go ahead with your Halogen 6 migration and switch to my state management library and see how many issues that resolves.

[2021-05-06 01:06] thomashoneyman commented on #80
The `busEventSource` replacement is available here:
https://github.com/thomashoneyman/purescript-halogen-store

I've got to add docs and publish it, but the code seems to be working well and hopefully it's a smooth replacement over here!

[2021-05-08 00:02] thomashoneyman commented on #80
Closed in #82 -- thanks, @and-pete!

[2021-05-08 00:02] #80 closed, assigned to nobody

[2021-05-14 18:03] thomashoneyman commented on #81
Fixed in #85! Thank you for the detailed write up!

[2021-05-14 18:04] #81 closed, assigned to nobody

[2021-08-10 22:38] thomashoneyman commented on #78
Hi @jim108dev! Sorry for such a late response. It may be that I've diverged from the spec in this implementation, and that's a bug here that needs to be fixed. I can take a look at that, though I would also accept PRs that fixes these issues you've found.

[2021-08-17 09:43] flip111 opened #92 "Not so clear where in Main.purs local storage is being used"
About the main function documented is

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/main/src/Main.purs#L3

I can not find the line of code where something with localstorage is done

[2021-08-17 12:17] thomashoneyman commented on #92
The token is read here:

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/d1248699a148196b4e7760e8ebf592e4926236bf/src/Main.purs#L77

and the readToken function is defined here:

https://github.com/thomashoneyman/purescript-halogen-realworld/blob/d1248699a148196b4e7760e8ebf592e4926236bf/src/Api/Request.purs#L216-L219

[2021-08-17 13:53] flip111 commented on #92
Would you accept a PR with a comment above line 77 in Main.purs ?

[2021-08-17 13:58] thomashoneyman commented on #92
Sure!

[2021-08-17 15:09] #92 closed, assigned to nobody

[2021-08-25 18:52] nilp0inter commented on #78
I am working on a pull request trying to solve this issue.  I managed to modify the post comment request and have it is working now 🎉

But I am stuck trying to fix the update user request. In the current implementation the update user request sent when editing the user profile sends unfilled fields with `null` values. The backend I am using to test this is not happy with that encoding, instead it

[2021-08-27 00:44] thomashoneyman commented on #78
@garyb I can’t quite remember how to do this — do you have any advice?

@nilp0inter it should be possible to do this by adjusting how Maybe values get encoded, but I’m not sure if there’s something built in off the top of my head

[2021-08-27 01:44] garyb commented on #78
There's a PR to add it https://github.com/garyb/purescript-codec-argonaut/pull/31/files but it's unmerged... I did want to do something to make it more convenient - so that codecs can still be defined record-style - but every time I've started on it I get sidetracked by wanting to deal with constant values also, and haven't quite figured out a good way of making it all fit just yet.

[2021-11-05 15:37] commandodev opened #95 "@parcel/transformer-js: Browser scripts cannot have imports or exports."
Following the instructions in the README (in the nix-shell) I get this:

[code]

[2021-11-05 16:12] #95 closed, assigned to nobody

[2021-11-08 12:42] geromegrignon opened #97 "API Domain change"
Hello!

Due to governance changes, we are now using the `realworld.io` domain for the RealWorld demo (both client and API).
Requests from `conduit.productionready.io` are redirected to `api.realworld.io`, but such a redirection might lead to inconsistent responses.

We encourage domain change for the community.
If this repository is maintained anymore, we'll consider hosting a demo of your impleme

[2021-11-08 13:30] thomashoneyman commented on #97
Hi @geromegrignon -- this repository is maintained and I can update the API in the next few weeks. Is there anything that I need to do beyond making the update in this repository?

[2021-11-08 13:37] geromegrignon commented on #97
Hey @thomashoneyman, thanks for the quick answer.
I created a related PR #98.

There is no required change besides **baseUrl**.

[2021-11-08 14:09] #97 closed, assigned to nobody

[2022-09-17 17:00] maridonkers commented on #78
I've attempted a fix for the comments;
https://github.com/maridonkers/purescript-halogen-realworld seems to fix the posting of commentcomments, but I get a weird question mark in the URL afterwards (an empty parameter?)

[2022-09-19 16:09] thomashoneyman commented on #78
This was fixed in #116

[2022-09-19 16:09] #78 closed, assigned to nobody

[2022-10-31 08:23] JaSpa opened #118 "`npm run serve` gives an empty page"
Cloning this repository and running `npm run serve` from inside of the nix shell results in an empty page.

The problem is that `index.html` refers to **main**.js instead of **index**.js. However, `npm run bundle` is configured to produce a **main**.js file.

* `index.js` should be moved to `main.js`, *or*
* `index.html` and `package.json` should be adjusted to create/refer to `index.js` instead o

[2022-10-31 13:53] thomashoneyman commented on #118
Thanks for catching this! This does need to be fixed.